# ignores .idea, .pycache, .pynb_checkpoint files
*/.idea/*
*/.pycache/*
*/.ipynb_checkpoints/*

# ignores the heavy data files
/shape_files/*
/resources/reference-data/qgis-suze-files*
/resources/pictures/ignore/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/


# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode
